body{
 background: linear-gradient(135deg, #000000, #0b0b0b, #1a1a1a);
  background-attachment: fixed;
  color:white;
  font-family: 'Inter', system-ui, -apple-system;
}

/* Glass Cards */
.card{
  background: rgba(255,255,255,0.08) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255,255,255,0.25) !important;
  backdrop-filter: blur(12px);
  color:white;
}

/* Navbar */
.navbar{
  background: rgba(0,0,0,0.6) !important;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

/* Buttons */
.btn{
  border-radius: 10px !important;
  letter-spacing: .5px;
  font-weight: 600;
}

/* Table */

.table-bordered, th, td {
  border: 1px solid rgba(255,255,255,0.3) !important;
}


table{
  color:white !important;
}

thead{
  background: rgba(255,255,255,0.12);
}

tr{
  background: rgba(255,255,255,0.05);
}

/* Auth box */
#authSection{
  max-width:450px;
  margin:auto;
  padding:25px;
}

/* Inputs */
input{
  background: rgba(255,255,255,0.1) !important;
  border:none !important;
  color:white !important;
}

input::placeholder{
  color:#ddd !important;
}

.alert{
  font-weight:600;
  border-radius:12px;
}